*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    /* font-size: 16px; */
}

.input-box{
    display: none;
}

#navbar-bar{
    display: none;
}

header{
    background-color: white;
    display: flex;
    /* justify-content: space-around; */
    height: 70px;
    line-height: 20px;
    width: 100%;
    border-bottom: 1px solid lightgray;
    position: fixed;
    margin: 0px;
}

.logo-website{
    display: flex;
    /* line-height: 70px; */
    margin-left: 30px;
    margin-top: 12px;
}

.padd{
    padding: 10px;
}

.navbar{
    width: 100%;
    text-align: center;
}

.navbar a{
    text-decoration: none;
    color: #666;
    line-height: 70px;
    font-size: 14px;
}

.navbar a:hover{
    padding-bottom: 25px;
    border-bottom: 2px solid gray;
}

.drop-down-menu{
    height: 300px;
    width: 200px;
    top: 0;
    right: 0;
    margin-top: 55px;
    margin-right: 30px;
    background-color: white;
    box-shadow: 10px 10px 20px 10px  rgba(150, 140, 140, 0.134);
    position: fixed;
    display: none;
    z-index: 30;
}

.drop-down-menu a {
    display: block;
    /* flex-direction: column; */
 
}

.drop-down-menu a{
    color: #666;
    text-decoration: none;
    padding: 20px;
    /* padding-right: 20px; */
}

.b-top{
    border-top: 1px solid #666;
}

.drop-down-menu a:hover{
    background-color: lightgray;
    color: black;
}

#Open-drop-down-menu:checked ~ .drop-down-menu{
    display: block;
}

.Open-Menu{
    width: 40px;
    height: 40px;
    top: 15px;
    right: 40px;
    position: absolute;
    border-radius: 5px;
}   

.bar{
    color: #666;
    padding-left: 13px;
    padding-top: 11px;
}

.Open-Menu:hover{
    background-color: rgba(181, 174, 174, 0.292);
}

.rotate{
    height: 20px;
    width: 20px;
    border-radius: deg(-25px);
    border: 1px solid white;
    top: -9px;
    right: 20px;
    position: absolute;
    transform: rotate(45deg);
    background-color: white;
    z-index: -71;
    /* box-shadow: 20px 20px 20px 20px  rgba(232, 213, 213, 0.703); */
}

.notification{
    height: 300px;
    width: 290px;
    top: 0;
    right: 0;
    margin-top: 55px;
    margin-right: 70px;
    background-color: white;
    box-shadow: 10px 10px 20px 10px  rgba(150, 140, 140, 0.134);
    position: fixed;
    display: none;
    z-index: 30;
}

.notification ul li{
    list-style: none;
    padding: 20px;
    /* color: lightgray; */
    border-bottom: 1px solid lightgray;
    font-size: 14px;
}

.notification ul li:last-child{
    border-bottom: none;
}

.Open-notification{
    width: 40px;
    height: 40px;
    top: 15px;
    right: 70px;
    position: absolute;
    border-radius: 5px;
}   

.icon-notification{
    color: #666;
    /* padding-left: 13px; */
    padding-top: 10px;
    margin-left: 10px;
    transform: rotateY(200deg);
}

.Open-notification:hover{
    background-color: rgba(181, 174, 174, 0.292);
}

#Open-drop-notification:checked ~ .notification{
    display: block;
}

.rotate-notification{
    height: 20px;
    width: 20px;
    border-radius: deg(-25px);
    border: 1px solid white;
    top: -5px;
    right: 13px;
    position: absolute;
    transform: rotate(45deg);
    background-color: white;
    z-index: -71;
    /* box-shadow: 20px 20px 20px 20px  rgba(232, 213, 213, 0.703); */
}

button{
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    border: 1px solid rgb(245, 26, 63);
    background-color: white;
    color: rgb(245, 26, 63);
}

.btn{
    display: flex;
}

.sign{
    top: 0;
    right: 0;
    line-height: 70px;
    width: 280px;
}

.sign a{
    text-decoration: none;
    color: #666;
    padding: 10px;
    border-radius: 5px;
}

.sign a:hover{
    background-color: rgba(181, 174, 174, 0.292);
}

.icon-rotate{
    transform: rotate(180deg);
    margin-left: 5px;
    /* z-index: 100; */
}

.cantainer{
    display: flex;
    width: 100%;
    height: 100vh;
}


.img-send{
    display: flex;
    justify-content: center;
    top: 0;
    margin-top: -500px;
}

.boxs{
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: -370px;
    margin-left: 150px;
    width: 250px;
    height: 150px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.311);
    background-color: white;
}

.boxs p{
    padding: 10px;
    font-weight: bold;
}

.boxs span{
    display: flex;
    justify-content: center;
    font-size: 90px;
    color: rgb(241, 40, 74);
}

.receive{
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 10px;
    margin-left: 150px; 
    width: 250px;
    height: 90px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.311);
    background-color: white;
}

.receive p{
    padding: 10px;
    font-weight: bold;
}

#receive-input{
    width: 230px;
    margin-left: 9px;
    padding: 10px;
    border: none;
    background-color: rgba(181, 174, 174, 0.292);
}

.receive-icon{
    display: flex;
    margin-top: -3px;
    margin-left: 190px;
    transform: rotate(89deg);
    color: #666 ;
}

footer{
    position: fixed;    
}

footer a{
    display: flex;
    top: 0;
    margin-top: 155px;
    margin-left: 30px;
    padding: 15px;
    width: 115px;
    text-align: center;
    /* border: 1px solid black; */
    border-radius: 25px;
    text-decoration: none;
    color: gray;
    font-weight: bolder;
    background-color: rgba(167, 161, 161, 0.579);
}

footer p{
    font-size: 12px;
    margin-left: 15px;
    margin-top: 5px;
}

footer span{
    font-size: 12px;
    margin-left: 15px;
}

@media (max-width:412px){
    header{
       width: 100%;
    }   

    .logo-website{
        /* width: 120px; */
        margin-left: 70px;
        margin-top: 12px;
    }

    .navbar{
        height: 300px;
        width: 250px;
        top: 0;
        left: 0;
        margin-top: 55px;
        margin-left: 10px;
        background-color: white;
        box-shadow: 10px 10px 20px 10px  rgba(150, 140, 140, 0.134);
        position: fixed;
        display: none;
        padding: 10px;
        z-index: 30;
        text-align: center;
    }

    .navbar a {
        display: block;
    }   

    .navbar a:hover{
        background-color: lightgray;
        color: black;
    }

    #Open-navbar-menu:checked ~ .navbar{
        display: block;
    }
    
    .Open-navbar{
        width: 40px;
        height: 40px;
        top: 15px;
        left: 17px;
        position: absolute;
        border-radius: 5px;
    }   
    
    #navbar-bar{
        display: block;
        color: #666;
        width: 40px;
        height: 40px;
        padding-left: 13px;
        padding-top: 11px;
    }

    .navbar-rotate{
        height: 20px;
        width: 20px;
        border-radius: deg(-25px);
        border: 1px solid white;
        top: -9px;
        left: 18px;
        position: absolute;
        transform: rotate(45deg);
        background-color: white;
        z-index: -71;
    }

    .drop-down-menu{
        height: 300px;
        width: 200px;
        top: 0;
        right: 0;
        margin-top: 55px;
        margin-right: 20px;
        background-color: white;
        box-shadow: 10px 10px 20px 10px  rgba(150, 140, 140, 0.134);
        position: fixed;
        display: none;
        z-index: 30;
    }
    
    .drop-down-menu a {
        display: block;
        /* flex-direction: column; */
     
    }
    
    .drop-down-menu a{
        color: #666;
        text-decoration: none;
        padding: 20px;
        /* padding-right: 20px; */
    }
    
    .b-top{
        border-top: 1px solid #666;
    }
    
    .drop-down-menu a:hover{
        background-color: lightgray;
        color: black;
    }
    
    
    #Open-drop-down-menu:checked ~ .drop-down-menu{
        display: block;
    }
    
    .Open-Menu{
        width: 40px;
        height: 40px;
        top: 15px;
        right: 30px;
        position: absolute;
        border-radius: 5px;
    }   
    
    .bar{
        color: #666;
        padding-left: 13px;
        padding-top: 11px;
    }
    
    .Open-Menu:hover{
        background-color: rgba(181, 174, 174, 0.292);
    }
    
    .rotate{
        height: 20px;
        width: 20px;
        border-radius: deg(-25px);
        border: 1px solid white;
        top: -9px;
        right: 20px;
        position: absolute;
        transform: rotate(45deg);
        background-color: white;
        z-index: -71;
        /* box-shadow: 20px 20px 20px 20px  rgba(232, 213, 213, 0.703); */
    }
    
    
    
    .notification{
        height: 300px;
        width: 290px;
        top: 0;
        right: 0;
        margin-top: 55px;
        margin-right: 60px;
        background-color: white;
        box-shadow: 10px 10px 20px 10px  rgba(150, 140, 140, 0.134);
        position: fixed;
        display: none;
        z-index: 30;
    }
    
    .notification ul li{
        list-style: none;
        padding: 20px;
        /* color: lightgray; */
        border-bottom: 1px solid lightgray;
        font-size: 14px;
    }
    
    .notification ul li:last-child{
        border-bottom: none;
    }
    
    .Open-notification{
        width: 40px;
        height: 40px;
        top: 15px;
        right: 60px;
        position: absolute;
        border-radius: 5px;
    }   
    
    .icon-notification{
        color: #666;
        padding-left: 13px;
        padding-top: 10px;
    }
    
    .Open-notification:hover{
        background-color: rgba(181, 174, 174, 0.292);
    }
    
    #Open-drop-notification:checked ~ .notification{
        display: block;
    }
    
    .rotate-notification{
        height: 20px;
        width: 20px;
        border-radius: deg(-25px);
        border: 1px solid white;
        top: -5px;
        right: 13px;
        position: absolute;
        transform: rotate(45deg);
        background-color: white;
        z-index: -71;
        /* box-shadow: 20px 20px 20px 20px  rgba(232, 213, 213, 0.703); */
    }
    
    button{
        margin-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 2px;
        padding-bottom: 2px;
        border: 1px solid rgb(245, 26, 63);
        background-color: white;
        color: rgb(245, 26, 63);
    }
    
    .btn{
        display: flex;
    }
    
    .sign{
        top: 0;
        right: 0;
        line-height: 70px;
        width: 280px;       
    }
    
    .sign a{
        text-decoration: none;
        color: #666;
        padding: 10px;
        border-radius: 5px;
        line-height: 10px;
    }
    
    
    .sign a:hover{
        background-color: rgba(181, 174, 174, 0.292);
    }

    .cantainer{
        display: flex;
        width: 100%;
        height: 100vh;
    }

    .cantainer img{
        display: none;
    }
    
    
    .img-send{
        display: flex;
        justify-content: center;
        top: 0;
        margin-top: -500px;
    }

    .img-send img{
        display: none;
    }
    
    .boxs{
        /* width: 100%; */
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        /* position: relative; */
        margin-top: -120px;
        margin-left: 80px;
        width: 250px;
        height: 150px;
        box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.311);
        background-color: white;
    }
    
    .boxs p{
        padding: 10px;
        font-weight: bold;
    }
    
    .boxs span{
        display: flex;
        justify-content: center;
        font-size: 90px;
        color: rgb(241, 40, 74);
    }
    
    .receive{
        display: flex;
        flex-direction: column;
        position: relative;
        margin-top: 30px;
        margin-left: 80px; 
        width: 250px;
        height: 90px;
        box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.311);
        background-color: white;
    }
    
    .receive p{
        padding: 10px;
        font-weight: bold;
    }
    
    #receive-input{
        width: 230px;
        margin-left: 9px;
        padding: 10px;
        border: none;
        background-color: rgba(181, 174, 174, 0.292);
    }
    
    .receive-icon{
        display: flex;
        margin-top: -3px;
        margin-left: 190px;
        transform: rotate(89deg);
        color: #666 ;
    }
    
    footer{
        position: fixed;    
    }
    
    footer a{
        display: flex;
        top: 0;
        margin-top: 255px;
        margin-left: 30px;
        padding: 15px;
        width: 115px;
        text-align: center;
        /* border: 1px solid black; */
        border-radius: 25px;
        text-decoration: none;
        color: gray;
        font-weight: bolder;
        background-color: rgba(167, 161, 161, 0.579);
    }
    
    footer p{
        font-size: 12px;
        margin-left: 15px;
        margin-top: 5px;
    }
    
    footer span{
        font-size: 12px;
        margin-left: 15px;
    }
    
}